*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    padding: 20px 50px;
    background-image: url(./shutterstock_1692370762.jpg);
    background-repeat: no-repeat;
    background-position: center;/*to change the position of the image*/
}
nav{
    width: 100%;
    /*height: 200px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*navigation*/
.navigation ul {
    display: flex;
    flex-direction: row;
    width: 300px; /*new*/
    justify-content: space-between; /*new*/
}
.navigation ul li a{
    color: black;
    /*how to add spaces between them*/
}
/*button*/
.button {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
}
.log_in {
    background-color: pink;
    color: white;
    border-radius: 18px;
    border: 2px solid black;
    width: 70px;
    height: 40px;
}
.sign_up{
    background-color: pink;
    color: white;
    border-radius: 18px;
    border: 2px solid black;
    width: 70px;
    height: 40px;
}

section{
    text-align: end;
}
/*heading*/
.heading{
    line-height: 1.5;
    font-size: 35px;
}
.text h1{
    color: rgb(52, 52, 112);
}
.text h2{
    color:rgb(231, 92, 115);
}


/*body*/
.body{
    line-height: 1.3;
    font-size: 20px;
    width: 100%;
}
.text p{
    color:rgb(156, 156, 156);
    font-size: 20px;
}

/*buttons_2*/
.buttons_2{
    display: flex;
    justify-content: end;
} /*you were giving the width that is why it was impossible to put it at the right*/
input {
    width: 180px;
    padding: 12px 20px;
    border-radius: 20px;
    background-color: rgb(200, 255, 255);
}
.button{
    padding: 4px 10px !important;
    border: 0;
}/*<button class="log_in button">Get Started</button>*/

form{
    display: flex;
    background-color: #fff;
    border-radius: 25px;
}

#email{
    border: 0;
    background-color: #fff;
}/*# because of the id*/

/*platforms*/
.text h4{
    word-spacing: 30px;
    font-size: 30px;
}
.text h4 a{
    color: black;
}




